affine==2.3.0
altair==5.5.0
anyio==4.9.0
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
async-lru==2.0.5
attrs==24.3.0
babel==2.17.0
beautifulsoup4==4.13.4
blas==1.0
bleach==6.2.0
blinker==1.9.0
blosc==1.21.3
boost-cpp==1.82.0
branca==0.6.0
brotli-python==1.0.9
bzip2==1.0.8
ca-certificates==2025.2.25
cachetools==5.5.2
cairo==1.16.0
certifi==2025.6.15
cffi==1.17.1
cfitsio==3.470
chardet==5.2.0
charset-normalizer==3.3.2
click==8.1.8
click-plugins==1.1.1
cligj==0.7.2
colorama==0.4.6
contourpy==1.3.1
cycler==0.12.1
defusedxml==0.7.1
et-xmlfile==2.0.0
expat==2.6.4
fastjsonschema==2.21.1
folium==0.14.0
fontconfig==2.14.1
fonttools==4.56.0
fqdn==1.5.1
freeglut==3.4.0
freetype==2.13.3
freexl==2.0.0
geopandas==1.0.1
geos==3.10.6
geotiff==1.7.0
gitdb==4.0.12
gitpython==3.1.44
glib==2.78.4
glib-tools==2.78.4
h11==0.16.0
hdf4==4.2.13
hdf5==1.14.5
httpcore==1.0.9
httpx==0.28.1
icc_rt==2022.1.0
idna==3.7
intel-openmp==2023.1.0
isoduration==20.11.0
jinja2==3.1.6
jpeg==9e
json5==0.12.0
jsonpointer==3.0.0
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
jupyter-events==0.12.0
jupyter-lsp==2.2.5
jupyter-server==2.16.0
jupyter-server-terminals==0.5.3
jupyterlab==4.4.2
jupyterlab-pygments==0.3.0
jupyterlab-server==2.27.3
kealib==1.5.0
kiwisolver==1.4.8
krb5==1.20.1
lcms2==2.16
lerc==4.0.0
libboost==1.82.0
libcurl==8.12.1
libdeflate==1.22
libffi==3.4.4
libgdal==3.6.2
libglib==2.78.4
libiconv==1.16
libkml==1.3.0
libnetcdf==4.8.1
libpng==1.6.39
libpq==17.4
libspatialite==5.1.0
libssh2==1.11.1
libtiff==4.7.0
libwebp-base==1.3.2
libxml2==2.13.8
libzip==1.8.0
lz4-c==1.9.4
markupsafe==3.0.2
matplotlib==3.10.1
minizip==4.0.3
mistune==3.1.3
mkl==2023.1.0
mkl-service==2.4.0
mkl_fft==1.3.11
mkl_random==1.2.8
narwhals==1.33.0
nbclient==0.10.2
nbconvert==7.16.6
nbformat==5.10.4
notebook==7.4.2
notebook-shim==0.2.4
numpy==1.26.4
numpy-base==1.26.4
openjpeg==2.5.2
openpyxl==3.1.5
openssl==3.0.16
overrides==7.7.0
owslib==0.24.1
pandas==2.2.3
pandocfilters==1.5.1
pcre2==10.42
pillow==11.1.0
pip==25.0
pixman==0.40.0
poppler==24.09.0
poppler-data==0.4.11
proj==9.3.1
prometheus-client==0.22.0
protobuf==5.29.4
pyarrow==19.0.1
pycparser==2.22
pydeck==0.9.1
pyogrio==0.10.0
pyparsing==3.2.3
pyproj==3.7.1
pysocks==1.7.1
python==3.12.9
python-dateutil==2.9.0post0
python-json-logger==3.3.0
pytz==2025.2
pywinpty==2.0.15
pyyaml==6.0.2
qhull==2020.2
rasterio==1.4.3
referencing==0.36.2
requests==2.32.3
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rpds-py==0.24.0
scipy==1.15.2
send2trash==1.8.3
setuptools==75.8.0
shapely==2.0.7
six==1.17.0
smmap==5.0.2
sniffio==1.3.1
soupsieve==2.7
sqlite==3.45.3
streamlit==1.44.0
streamlit-folium==0.24.0
tbb==2021.8.0
tenacity==9.0.0
terminado==0.18.1
tiledb==2.3.3
tinycss2==1.4.0
tk==8.6.14
toml==0.10.2
types-python-dateutil==2.9.0.20250516
tzdata==2025.2
uri-template==1.3.0
uriparser==0.9.7
urllib3==2.3.0
vc==14.42
vs2015_runtime==14.42.34433
watchdog==6.0.0
webcolors==24.11.1
webencodings==0.5.1
websocket-client==1.8.0
wheel==0.45.1
win_inet_pton==1.1.0
xerces-c==3.2.4
xz==5.6.4
yaml==0.2.5
zlib==1.2.13
zstd==1.5.6
